/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #f4f4f9; /* Fondo gris claro */
    -fx-padding: 20px; /* Relleno general */
    -fx-font-family: "Arial", sans-serif;
}

.label {
    -fx-font-size: 18px; /* Tamaño de la fuente */
    -fx-text-fill: #424242; /* Color de texto gris oscuro */
    -fx-font-weight: bold; /* Negrita para destacar */
    -fx-padding-bottom: 10px; /* Espaciado entre las líneas */
}

#nombreUser, #botScore {
    -fx-font-size: 16px; /* Tamaño de la fuente */
    -fx-text-fill: #2e7d32; /* Verde oscuro */
    -fx-font-weight: normal; /* Texto regular para los puntajes */
}

.button {
    -fx-font-size: 30px; /* Tamaño del texto */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-border-color: #1e88e5; /* Borde rojo oscuro */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-cursor: hand; /* Cambiar el cursor al pasar el mouse */
}

.button:hover {
    -fx-background-color: #17d; /* Cambiar color al pasar el mouse */
    -fx-border-color: #c62828; /* Cambiar color del borde en hover */
}

#giveUp{
    -fx-background-color: linear-gradient(to bottom, #ef5350, #e53935); 
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px; /* Tamaño del texto */
    -fx-padding: 10px 20px; /* Tamaño del botón */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-border-color: #d32f2f; /* Borde rojo oscuro */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-cursor: hand; /* Cambiar el cursor al pasar el mouse */
}

#giveUp:hover {
    -fx-background-color: #f44336; /* Cambiar color al pasar el mouse */
    -fx-border-color: #c62828; /* Cambiar color del borde en hover */
}