/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 5, 2024, 10:47:09 AM
    Author     : alexo
*/

.mainFxmlClass {
    -fx-font-family: sans-serif;
    -fx-font-size: 48px;
    -fx-background-color: #add;
}


.labelTxt{
    -fx-font-size: 60px;
}

.Button{
    -fx-border: none; 
    -fx-color: black;  
    cursor: pointer; 
    -fx-border-radius: 6px; 
}

.Start{
    -fx-background-color: #47f; 
    -fx-border: 3px solid #47f;
}

.Start:hover {
    -fx-background-color: #44f; 
    -fx-color: #44f;
    
}

.Exit {
    -fx-background-color: #f43; 
    -fx-border: 3px solid #f43;
} 
.Exit:hover {
    -fx-background-color: #b54; 
    -fx-color: #b54;
}